# CAPTCHA Solver API Keys
# Dapetin dari https://2captcha.com (untuk Turnstile)
TWOCAPTCHA_API_KEY=your_2captcha_api_key_here

# Dapetin dari https://capsolver.com (untuk CF Challenge)
CAPSOLVER_API_KEY=your_capsolver_api_key_here

# Telegram Bot Config
TELEGRAM_BOT_TOKEN=your_telegram_bot_token
TELEGRAM_ADMIN_IDS=your_telegram_user_id

# C2 Server Config
C2_API_KEY=aryzz-c2-api-key-2024
C2_URL=http://localhost:8080

# Attack Config
MAX_HTTP_WAVES=10
MAX_HTTP_RPC=50
